<div class="container" ng-controller="HomeCtrl">
    <div class="row col-md-12">
        <div>
            <input type="text" class="form-control input-lg" placeholder="Enter a Name" ng-model="nameInput">
        </div>
    </div>
    <div class="row col-md-12 ">
        <div class="text-center pokerplanners">
            <a type="button" class="btn btn-primary btn-lg btn-block" ng-click="createRoom($event)">New</a>
        </div>
        <div class="text-center pokerplanners">
            <a ng-href="#!/setup/{{id}}"type="button" class="btn btn-primary btn-lg btn-block" data-ng-show="id" >Setup</a>
        </div>
        <div class="text-center pokerplanners">
            <a ng-href="#!/rooms/" type="button" class="btn btn-success btn-lg btn-block">Join</a>
        </div>
    </div>
</div>