<div class="container">
    <div class="col-md-12">
        <div class="col-md-9">
            <h1>{{room.name}}</h1>
            <h4>{{room.leader}}</h4>
            <h2> {{task.jiraId}}: {{task.description}}</h2>
        </div>
        <div class="col-md-3">
            <h2>Time</h2>
            <h2>Round: {{round}}</h2>
        </div>

        <div class="col-md-8">
            <div class="well col-md-12">
                <ul>
                    <li ng-repeat="player in players track by $index">

                        <div class="col-md-6">{{player}} -> </div>
                        <div class="col-md-6" ng-show="findPlayerEstimate(player)">{{findPlayerEstimate(player)}}</div>
                        <div class="col-md-6" ng-hide="findPlayerEstimate(player)">{Hidden}</div>

                    </li>
                </ul>
            </div>
            <div class="col-md-12" ng-show="showDeck">
                <div class="text-center" ng-repeat="card in cards">
                    <button class="btn-primary col-xs-2" ng-click="sendEstimate($index)">{{card.display}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div ng-repeat="jira in room.jiras">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-md col-md-12" ng-show="$root.nameInput===room.leader" ng-click="changeTask($index)">{{jira.jiraId}}-{{jira.description}}</button>
                    <div class="col-md-12 task"ng-hide="$root.nameInput===room.leader"  >{{jira.jiraId}}-{{jira.description}}</div>
                </div>
            </div>
        </div>
        <div ng-show="$root.nameInput===room.leader" class="col-md-12">
            <button class="btn btn-primary btn-lg col-md-4" ng-click="sendCmd('reveal')">Reveal</button>
            <button class="btn btn-primary btn-lg col-md-4" ng-click="sendCmd('replay')">Replay</button>
            <button class="btn btn-primary btn-lg col-md-4" ng-click="sendCmd('endTask')">Confirm</button>
            <input class=" col-md-12">
        </div>
    </div>
</div>